.creative{
    color: aquamarine;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 50px;
}
.one-img{
    height: 200px;
    float: left;
    margin-right: 50px;
}
h1{
    font-size: 5rem;
}
footer{
    text-align: right;
    color: midnightblue;
}
.card{
    width: 45%;
}
.left{
    float: left;
}
.right{
    float: right;
}
@media (max-width : 680px){
    .logo{
        width: 100px;
    }
    h1{
        text-align: center;
        font-size: 3.5rem;
    }
    .card{
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
    .card img{
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}